<section class="py-5 text-center container">
	<div class="row py-lg-5">
		<div class="col-lg-6 col-md-8 mx-auto">
			<h1 class="fw-light">Crear Regiones</h1>
			<p class="lead text-muted">Una aplicacion hecha para crear regiones.</p>
			<p>
				<a href="/regiones/create-region" class="btn btn-secondary my-2">Crear nueva Region</a>
			</p>
		</div>
	</div>
</section>

{{#if hasRegion}}
<div class="album ">
	<div class="container">

		<div class="main container">
			<div class="row">
				<div class="row">

					{{#each region as |regionpoke|}}
					<div class="col-md-4 mt-5">
						<div class="card bg-success text-light">

							<div class="card-body">

								<h4 class="card-title">{{regionpoke.name}}</h4>
							</div>

							<hr>
							<form id="form-delete2" class="form-inline" action="/regiones/delete-region" method="post">
								<a href="/regiones/edit-region/{{regionpoke.id}}?edit=true"
									class="btn btn-primary p-3 m-3">Editar</a>
								<input type="hidden" name="Id" value="{{regionpoke.id}}" />
								<button class="btn btn-outline-warning p-3 m-3 delete-region">Eliminar</button>
							</form>



						</div>

					</div>
					{{/each}}
					{{else}}
					<h1>No hay Regiones</h1>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</div>